.bio
  border-radius: 5px
  border: 1px solid $blue
  margin: 5px
  padding: 5px
  .name
    margin: 5px
    @include span-columns(2, 5)
  .title
    font-family: Zeroes
    @include span-columns(1, 5)
    font-weight: bold
  .email
    @include span-columns(1,5)
  .photo
    @include span-columns(1 omega, 5)
    max-height: 75px
    max-width: 75px
  p
    clear: both
    padding: 5px
    margin: 5px
