#player
  width: 450px
  height: 250px
  overflow: hidden
  background: white
  position: relative
  padding: 5px

.youtube .carousel
  width: 100px
  height: 100%
  overflow: auto
  position: absolute
  right: 0px
  z-index: 3

.youtube .thumbnail
  margin: 2px
  background: $green
  width: 75px
  border: 1px solid $blue

.youtube iframe.player
  width: 338px
  height: 278px  
  overflow: auto
  border: 0

.carItemContain
  height: 100px
