h2 Bible Study
p is a program once a week at CCF on Thursdays at 7:30 pm, following free dinner at 6:45 pm. It is high energy, fun and loud at times. A usual Thursday night will include a band, a silly skit, a video, and a talk by Rick – the head guy at CCF that started this place. His talks cover scripture and concepts from his life. If it's your first time, you'll get some of the most delicious cookies in the world! Though the atmosphere is full and energetic, it's a great opportunity to meet a lot of Tech kids and to experience a community that wants to welcome you no matter your story. You are welcome no matter what you believe in or even what you may have done the night before. All are invited to be a part of the community at CCF.
