h2 Cafe
p is a more chill time that happens at CCF once a week on Tuesdays at 8 pm. A Cafe evening includes an opening act (which could mean music, a dance group, or some other creative entertainment), coffee and dessert, tables for sitting and meeting fellow Tech students, a worship session, and a talk by Jeremy Lawler. The lights are dimmed and the mood is relaxed. If you are interested in faith, but you aren't certain about this Jesus guy, then Cafe is for you. If you are a believer and want to learn about Jesus in creative and thought provoking ways, then Cafe is for you.  If you prefer a more relaxed atmosphere over a high energy group, then you should definitely check out Cafe on Tuesday nights!

p Doors will be opening at 7pm for an espresso & coffee hour.
