$blue: #37627C
$green: #ABC272
$mobile: new-breakpoint(max-width 500px 6)

*
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif

h1, h2, h3
  font-family: museo-slab,"Helvetica Neue",Helvetica,Arial,sans-serif
  margin: 0
  padding: 0

dl
  padding: 0.5em
dt
  float: left
  clear: left
  width: 100px
  text-align: right
  font-weight: bold
  color: $green
dt:after
  content: ":"
dd
  margin: 0 0 0 110px
  padding: 0 0 0.5em 0

@import "_buttons"
@import "about"
@import "freshmen"
@import "markdown"
@import "youtube"

p
  margin: 1px
  padding: 1px
a, a:visited
  color: $blue
blockquote
  padding: 5px
  color: gray
  border-left: 4px gray solid

$background: #E9E9E9
$fade: #D0D0D0

.page
  @include outer-container
  background-color: $background
  border: 1px solid black
  padding: 20px
  footer
    @include span-columns(12)
    @include gradient($background, $fade)
    clear: both
    margin-top: 1em
    border-top: 1px solid black
    .contact
      margin-right: 0.5em
    .social
      margin: 0.5em
    .address
      margin: 0.5em
      font-size: small

.page
  @include media($mobile)
    padding: 0
    header
      @include span-columns(12)
      @include gradient($fade, $background)
      #brand
        img
          height: 150px
        @include span-columns(6)
      #always
        @include span-columns(3)
      #special
        @include span-columns(3)
    #feature
      @include span-columns(1 of 3)
    #paypal
      @include span-columns(1 of 3)
    .contact
      @include span-columns(3 of 12)
    .address
      @include span-columns(2 of 12)
    .social
      @include span-columns(2 of 12)

.content
  margin: 0.5em
#always, #special
  text-size: 16pt
  padding-top: 5px
#paypal
  text-align: center
  padding-top: 30px
#feature
  background-color: white
  img
    @include span-columns(1 of 3)
#navbar
  border-bottom: 2px dashed black
  padding: 5px
  @include media($mobile)
    border-bottom: 0
  a
    margin: 5px
    @include button
    @include color($blue)
.page-title
  margin: 5px
body
  background-color: black
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-image: image-url('background.jpg')

event
  .name, .name a
    color: black
    font-family: museo-slab,"Helvetica Neue",Helvetica,Arial,sans-serif
  .time
    font-size: small

.inline-video
  float: left
  padding: 10px
.contact
  @include rounded(2px)
  border: 3px solid $blue
  background-color: white
  color: black
  padding: 4px
  margin: 0.5em
  .photo
    max-height: 60px
    max-width: 60px
    @include span-columns(1 of 3)
  @include media($mobile)
    .email, .title, .name
      @include span-columns(2 of 3) 
  .name
    font-family: museo-slab,"Helvetica Neue",Helvetica,Arial,sans-serif
    font-size: 16pt
    color: $blue

