<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://gtccf.us5.list-manage.com/subscribe/post?u=6dad968624842c46123c7421f&amp;id=5ca50c7225" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Subscribe to our student mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-GENDER">Gender  <span class="asterisk">*</span>
</label>
  <select name="GENDER" class="required" id="mce-GENDER">
  <option value=""></option>
  <option value="Male">Male</option>
<option value="Female">Female</option>

  </select>
</div>
<div class="mc-field-group size1of2">
  <label for="mce-YEAR">Freshman Year  <span class="asterisk">*</span>
</label>
  <input type="number" name="YEAR" class="required" value="" id="mce-YEAR">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
